:root {
  --border-radius: 0.5em;

  /* General Colors */
  --highlight-color: rgb(40, 167, 69);   
  --theme-color-primary: rgb(0, 0, 0);      
  --theme-color-secondary: rgb(255, 255, 255);
  
  /* Background Colors */
  --theme-color-bg: rgb(255, 255, 255);
  --theme-color-bg-secondary: rgb(245, 245, 245); 
  
  /* Text Colors */
  --theme-text-primary: rgb(0, 0, 0);
  --theme-text-secondary: rgb(96, 96, 96);
  
  /* Box Shadow */
  --box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, 
                rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

/* Dark Theme */
.dark-theme {
  --highlight-color: rgb(30, 126, 52);    
  --theme-color-primary: rgb(255, 255, 255);  
  --theme-color-secondary: rgb(0, 0, 0);   
  
  /* Background Colors */
  --theme-color-bg: rgb(27, 27, 27);          
  --theme-color-bg-secondary: rgb(39, 39, 39);
  
  /* Text Colors */
  --theme-text-primary: rgb(255, 255, 255);    
  --theme-text-secondary: rgb(160, 160, 160); 

  /* Box Shadow */
  --box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
                0 0 0 1px hsla(0, 0%, 0%, 0.05),
                0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
                0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
                0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  color: var(--theme-text-primary);
}
