:root {
  --border-radius: 12px;
  
  --logo-color: rgb(100, 230, 100);
  --bar-color: rgb(157,249,100);

  --sidebar-bg: rgb(23, 24, 25);
  --sidebar-bg-search: rgb(33,34,37);
  
  --text-primary: rgb(220, 220, 220);
  --text-secondary: rgb(160, 160, 160);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
